@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer base {
  body {
    @apply antialiased bg-gray-50/5 min-h-svh isolate;
  }
}

@property --hue-rotation {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

@theme inline {
  --default-font-family: var(--font-mona-sans);
  --default-mono-font-family: var(--font-jetbrains-mono);
  --font-poppins: var(--font-poppins);
  --ease-spring: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );
  --ease-bounce: linear(
    0,
    0.004,
    0.016,
    0.035,
    0.063,
    0.098,
    0.141 13.6%,
    0.25,
    0.391,
    0.563,
    0.765,
    1,
    0.891 40.9%,
    0.848,
    0.813,
    0.785,
    0.766,
    0.754,
    0.75,
    0.754,
    0.766,
    0.785,
    0.813,
    0.848,
    0.891 68.2%,
    1 72.7%,
    0.973,
    0.953,
    0.941,
    0.938,
    0.941,
    0.953,
    0.973,
    1,
    0.988,
    0.984,
    0.988,
    1
  );

  --animate-inner-glow: inner-glow 4s linear infinite;
  @keyframes inner-glow {
    from {
      --hue-rotation: 0turn;
    }
    to {
      --hue-rotation: 1turn;
    }
  }

  --animate-button-step: button-step 0.6s var(--ease-in-out) normal forwards;
  @keyframes button-step {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

figure[data-rehype-pretty-code-figure] {
  @apply font-mono my-0;

  pre {
    @apply m-0 break-words whitespace-pre-wrap;
  }

  code {
    @apply text-[13px];
  }
}
